In [ ]:
                                              #*******List********#
#list is a curd operation 
#list is mutable 
#list is ordered
#list is iterable   
#list is dynamic
#list is heterogeneous
#list is a collection of items

In [19]:
x=[10,25,56,78,"pratham","hello"]
list(x)

[10, 25, 56, 78, 'pratham', 'hello']

In [65]:
number=[10,20,30,40,50,60,70,80,34,56,98,12]
print(number[5:6:])  # slicing
print(number[:])    # slicing
print(number[::1])  # slicing
print(number[::-1])  # slicing

[60]
[10, 20, 30, 40, 50, 60, 70, 80, 34, 56, 98, 12]
[10, 20, 30, 40, 50, 60, 70, 80, 34, 56, 98, 12]
[12, 98, 56, 34, 80, 70, 60, 50, 40, 30, 20, 10]

In [66]:
friuts=["apple","banana","mango","orange"]
print(friuts[0:3])  # slicing

['apple', 'banana', 'mango']

In [68]:
friuts[3]="watermelon"
print(friuts)

['apple', 'banana', 'mango', 'watermelon']

In [ ]:
friuts.insert (3,"kiwi")#insert method
print(friuts)

['apple', 'banana', 'mango', 'kiwi', 'watermelon']

In [ ]:
friuts.append("grapes")#append method
print(friuts)

['apple', 'banana', 'mango', 'kiwi', 'watermelon', 'grapes']

In [76]:
list1=[10,20,[30,40],50]
list2=[60,70,80]
list2.extend(list1)  # extend method
print(list2)

[60, 70, 80, 10, 20, [30, 40], 50]

In [78]:
list1=[10,20,[30,40],50]
list2=[60,70,80]
list2.append(list2)  # extend method
print(list1)

[10, 20, [30, 40], 50]

In [ ]:
lst=[10,20,30,40,50]
lst.remove(30)  # remove method and it will remove the first occurrence of the value
print(lst)

[10, 20, 40, 50]

In [5]:
lst=[10,20,30,40,50]
del lst[3] # delete method
print(lst)

[10, 20, 30, 50]

In [11]:
#pop method
lst=[10,20,30,40,50]        
a=lst.pop(2) # pop method
print(lst)
print(a)

[10, 20, 40, 50]
30

In [81]:
#wap which will print the count of even and odd numbers in a list
x = [1, 3, 5, 2, 7, 9, 12, 88, 50, 11]
even_count = 0      
odd_count = 0   
for i in x:
    if i % 2 == 0:
        even_count += 1
    else:
        odd_count += 1
print("Even count:", even_count)
print("Odd count:", odd_count)

Even count: 4
Odd count: 6

In [1]:
x = [1, 3, 5, 2, 7, 9, 12, 88, 50, 11]
even_count = 0  
odd_count = 0
for i in x: 

    if i % 2 == 0:
        even_count="even"
    else:
        odd_count+=5
        print("Even count:", even_count)
        print("Odd count:", odd_count)

Even count: 0
Odd count: 5
Even count: 0
Odd count: 10
Even count: 0
Odd count: 15
Even count: even
Odd count: 20
Even count: even
Odd count: 25
Even count: even
Odd count: 30