In [ ]:
                                              #*******List********#
#list is a curd operation 
#list is mutable 
#list is ordered
#list is iterable   
#list is dynamic
#list is heterogeneous
#list is a collection of items

In [19]:
x=[10,25,56,78,"pratham","hello"]
list(x)

[10, 25, 56, 78, 'pratham', 'hello']

In [65]:
number=[10,20,30,40,50,60,70,80,34,56,98,12]
print(number[5:6:])  # slicing
print(number[:])    # slicing
print(number[::1])  # slicing
print(number[::-1])  # slicing

[60]
[10, 20, 30, 40, 50, 60, 70, 80, 34, 56, 98, 12]
[10, 20, 30, 40, 50, 60, 70, 80, 34, 56, 98, 12]
[12, 98, 56, 34, 80, 70, 60, 50, 40, 30, 20, 10]

In [66]:
friuts=["apple","banana","mango","orange"]
print(friuts[0:3])  # slicing

['apple', 'banana', 'mango']

In [68]:
friuts[3]="watermelon"
print(friuts)

['apple', 'banana', 'mango', 'watermelon']

In [ ]:
friuts.insert (3,"kiwi")#insert method
print(friuts)

['apple', 'banana', 'mango', 'kiwi', 'watermelon']

In [ ]:
friuts.append("grapes")#append method
print(friuts)

['apple', 'banana', 'mango', 'kiwi', 'watermelon', 'grapes']

In [76]:
list1=[10,20,[30,40],50]
list2=[60,70,80]
list2.extend(list1)  # extend method
print(list2)

[60, 70, 80, 10, 20, [30, 40], 50]

In [78]:
list1=[10,20,[30,40],50]
list2=[60,70,80]
list2.append(list2)  # extend method
print(list1)

[10, 20, [30, 40], 50]

In [ ]:
lst=[10,20,30,40,50]
lst.remove(30)  # remove method and it will remove the first occurrence of the value
print(lst)

[10, 20, 40, 50]

In [5]:
lst=[10,20,30,40,50]
del lst[3] # delete method
print(lst)

[10, 20, 30, 50]

In [11]:
#pop method
lst=[10,20,30,40,50]        
a=lst.pop(2) # pop method
print(lst)
print(a)

[10, 20, 40, 50]
30

In [12]:
lst=[10,20,30,40,50]
count=lst.count(20)  # count method
print(count)  # it will count the number of occurrences of the value in the list

1

In [17]:
lst=[10,20,30,40,50] # index method
print(lst.index(10))  # it will return the index of the value in the list

0

In [34]:
lst=[3,5,7,9,2,8,11,15,12,14]
for i in range(0,len(lst),2):
    lst[i],lst[i+1]=lst[i+1],lst[i]  # swapping the elements of the list
print(lst)

[5, 3, 9, 7, 8, 2, 15, 11, 14, 12]

In [74]:
lst=[3,500,7,9,2,8000,11,43000,12,14,15]
max_value=lst[0]
second_max_value=lst[1]
third_max_value=lst[2]
for i in lst:
    if i>max_value:
        max_value=i 
    elif i>second_max_value and i!=max_value:
        second_max_value=i

    elif i>third_max_value and i!=max_value and i!=second_max_value:
        third_max_value=i

print(max_value)  # it will print the maximum value in the list
print(second_max_value)  # it will print the second maximum value in the list
print(third_max_value)  # it will print the third maximum value in the list

43000
500
15

In [79]:
lst=[3,5,7,9,2,8,11,43,12,14,15]
 if lst[0]>lst[1]:
    max1=lst[0]
    max2=lst[1]
 else
    max1=lst[1]
    max2=lst[0]
 for i in range(0,len(lst)3)
 if  lst[i]>max1:  
    max2=max1
    max1=lst[i]
 elif lst[i]>max2:
    max1=max2
    max2=lst[i]
    print(max1)
    print(max2)

IndentationError: unexpected indent (590119578.py, line 2)

In [90]:
lst=[25,3,2,20,8,15,6,12,10,9,11]
lst.reverse()
lst1=[lst[0]]
temp=lst[0]
for i in lst:
    if i>temp:
        temp=i
        lst1.append(i)
    lst1.reverse()
    print(lst1)

[11]
[11]
[11]
[12, 11]
[11, 12]
[15, 12, 11]
[11, 12, 15]
[20, 15, 12, 11]
[11, 12, 15, 20]
[20, 15, 12, 11]
[25, 11, 12, 15, 20]

In [6]:
lst=[25,3,2,20,8,15,6,12,10,9,11]#square
lst1=[] 

for i in lst:
    lst1.append(i**2)  # squaring the elements of the list  
print(lst1)  # it will print the squared elements of the list

[625, 9, 4, 400, 64, 225, 36, 144, 100, 81, 121]

In [8]:
lst=[25,3,2,20,8,15,6,12,10,9,11]#cube
lst1=[]


for i in lst:
    lst1.append(i**3)
    print(lst1)  # it will print the cubed elements of the list

[15625]
[15625, 27]
[15625, 27, 8]
[15625, 27, 8, 8000]
[15625, 27, 8, 8000, 512]
[15625, 27, 8, 8000, 512, 3375]
[15625, 27, 8, 8000, 512, 3375, 216]
[15625, 27, 8, 8000, 512, 3375, 216, 1728]
[15625, 27, 8, 8000, 512, 3375, 216, 1728, 1000]
[15625, 27, 8, 8000, 512, 3375, 216, 1728, 1000, 729]
[15625, 27, 8, 8000, 512, 3375, 216, 1728, 1000, 729, 1331]

In [19]:
lst = [25, -3, 2,- 20, 8, -15, 6, 12, -10, 9, 11]
lst1 = ["even" if i % 2 == 0 else "odd" for i in lst]  # list comprehension to check even or odd
print(lst1)  # it will print the even or odd elements of the list

['odd', 'odd', 'even', 'even', 'even', 'odd', 'even', 'even', 'even', 'odd', 'odd']

In [34]:
lst = [25, -3, 2,- 20, 8, -15, 6, 12, -10, 9, 11]
lst1=["positive" if i > 0 else "negative" for i in lst]  # list comprehension to check positive or negative
print(lst1)  # it will print the positive or negative elements of the list

['positive', 'negative', 'positive', 'negative', 'positive', 'negative', 'positive', 'positive', 'negative', 'positive', 'positive']

In [42]:
lst=[[3,5,7,9],[8,2,5,9],[7,3,5,8],[8,3,2]]
lst1=[max(i) for i in lst]  # list comprehension to get the first element of each sublist
print(lst1)  # it will print the first element of each sublist in the list

[9, 9, 8, 8]

In [5]:
lst=[[3,5,7,9],[8,2,5,9],[7,3,5,8],[8,3,2]]#add odd value
lst1=[]
for i in lst:
     sum =0
     for j in i:
         if j % 2 != 0:
             sum+=j
     lst1.append(lst)

In [7]:
list = [[3,5,7,9],[8,2,5,9],[7,3,5,8],[8,3,2,6]]

print(list)
for i in range(0,len(list),2):
    for j in range(0,len(list[i])):
        if j%2 == 0:     
            temp = list[i][j]
            list[i][j]=list[i+1][j]
            list[i+1][j]=temp
print(list)

[[3, 5, 7, 9], [8, 2, 5, 9], [7, 3, 5, 8], [8, 3, 2, 6]]
[[8, 5, 5, 9], [3, 2, 7, 9], [8, 3, 2, 8], [7, 3, 5, 6]]

In [81]:
#wap which will print the count of even and odd numbers in a list
x = [1, 3, 5, 2, 7, 9, 12, 88, 50, 11]
even_count = 0      
odd_count = 0   
for i in x:
    if i % 2 == 0:
        even_count += 1
    else:
        odd_count += 1
print("Even count:", even_count)
print("Odd count:", odd_count)

Even count: 4
Odd count: 6

In [1]:
x = [1, 3, 5, 2, 7, 9, 12, 88, 50, 11]
even_count = 0  
odd_count = 0
for i in x: 

    if i % 2 == 0:
        even_count="even"
    else:
        odd_count+=5
        print("Even count:", even_count)
        print("Odd count:", odd_count)

Even count: 0
Odd count: 5
Even count: 0
Odd count: 10
Even count: 0
Odd count: 15
Even count: even
Odd count: 20
Even count: even
Odd count: 25
Even count: even
Odd count: 30