In [ ]:
#tuple is imimutable`
# tuple is a collection of items
# tuple is a collection of items that are ordered and unchangeable  
`

In [3]:
tpl=(10,25,30,40,50,60,70,80,90,100)
print(tpl)

(10, 25, 30, 40, 50, 60, 70, 80, 90, 100)

In [5]:
tpl1=(5)

print(tpl1)
type(tpl1)

5

int

In [10]:
tpl=(10,25,30,40,50,60,70,80,90,100)
tpl.index(30)  # returns the index of the first occurrence of the specified value

2

In [13]:
tpl= (1,2,3,4,5,5,5,6,7,8,9,10)
tpl.count(5)  # returns the number of times a specified value occurs in a tuple

3

In [16]:
tpl= (1,2,3,4,5,6,7,8,9,10)
print (id(tpl))  # returns the identity of an object, which is unique and constant for this object during its lifetime
tpl+= (11,12,13,14,15)  # concatenation of tuples
print (id(tpl))  # the identity of the object has changed after concatenation

3014704516160
3014705722240

In [39]:
x = (1, 2, 3, 4, 5,84,56,7,8,9,10)
lst=[i for i in x if i%2!=0 ] 
x=tuple(lst)
print(x)  # Output: (1, 3, 5)

(1, 3, 5, 7, 9)